@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/* faz favor */
:root{
    --verde-agua: #76fcdf;
    --verde-agua-escuro: #22b890;
    --cinza-escuro: #1c2626;
}

::-moz-selection { /* Code for Firefox */
  background: var(--verde-agua);
}

::selection {
  background: var(--verde-agua);
}

html{
    /* A cada 1rem será considerado 10px !*/
    font-size: 62.5%;
}

* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body{
    background: white;
	color: var(--cinza-escuro);
	font-family: 'Space Mono', monospace;
}
/* --------------------------------------------- */

.main{
	text-align: center;
    margin-top:100px;
    margin: 0;
}

h2{
	margin: 3rem;
    font-size: 6rem;
    transition: 0.3s ease 0s;
    font-weight: 500;
    
}

.main p{
    font-size: 2.6rem;
    transition: 0.3s ease 0s;
}

.content{
    width: 100%;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    margin-top: 133px;
    padding: 5px;
}

/* media queries */

@media (max-width: 930px){
    html{
        font-size: 56%;
    }
}

@media (max-width: 829px){
    html{
        font-size: 48%;
    }
}

@media (max-width: 731px){

}

@media (max-width: 520px){
    .main p{
        font-size: 2.1rem;
    }
}

@media (max-width: 390px){
    html{
        font-size: 40%;
    }

    .main p {
        font-size: 1.9rem;
    }
}

@media (max-width: 350px){
    html{
        font-size: 35%;
    }
}