@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');


html{
    /* A cada 1rem será considerado 10px !*/
    font-size: 62.5%;
}

* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

a, li, header, ul{
	background-color: white;
}


a, li, button {
  text-decoration: none;
	font-family: 'Signika', sans-serif;
	font-weight: 500;
	font-size: 2.3rem;
    color: #24252A;
    transition: 0.3s ease 0s;
}



.tit{
	font-family: 'Permanent Marker', cursive;
	margin: 10px;
	color: #24252A;
	font-weight: 400;
	cursor: pointer;
	font-size: 4rem;
    margin-right: auto;
    transition: 0.3s ease 0s;
    display: inline;
}

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 6%;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

nav{
    transition: 0.3s ease 0s;
}

.menu-toggle{
    transition: 0.3s ease 0s;
}

/* .menu-section.on, .menu-section{
    display: none;
} */

.nav-links{
	list-style: none;
}

.nav-links li{
	display: inline-block;
	padding: 0rem 2rem;
}

.as{
		transition: 0.3s ease 0s;
		color: #24252A;
}

.as:hover{
		color: rgb(0, 185, 154);
}

button{
	margin-left: 0;
	padding: 9px 25px;
    background-color: #24252A;
    border: none;
    color: white;
    /* background: none;
    border:2px solid rgb(0, 185, 154);
	color: rgb(0, 185, 154); */
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s ease 0s;
	outline: none;
}

button:hover{
	background-color: rgb(0, 185, 154);
}

body{
    /* background-color: rgb(81, 102, 92); */
    background-color: #5f6f66;
	color: white;
	font-family: 'Signika', sans-serif;
}

.main{
	text-align: center;
    margin-top:100px;
    margin: 3rem;
}

h2{
	margin: 3rem;
    font-size: 6rem;
    transition: 0.3s ease 0s;
}

.main p{
    font-size: 2.6rem;
    transition: 0.3s ease 0s;
}

.content{
    width: 90%;
    background-color: #fff;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);
    margin: auto;
    border-radius: 30px;
    margin-top: 60px;
    padding: 25px;
    text-align: left;
}

.content h3{
    color: #24252a;
    font-size: 3rem;
}


/* media queries */

@media (max-width: 988px){
    html{
        font-size: 56%;
    }
}

@media (max-width: 891px){
    html{
        font-size: 48%;
    }
}

@media (max-width: 780px){
    nav{
        display: none;
    }

    .one,
    .two,
    .three{
        background-color: #24252a;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        border-radius: 5px;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-right: 20px;
        margin-left: 60px;
        order: 2;
    }

    /* fullscreen */
    .menu-section.on{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f00;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }
}
